{% extends 'base.html.twig' %}

{% block title %}Edit Outfit!{% endblock %}

{% block body %}
    <h1 class="title">Edit Outfit!</h1>
    <div class="list">  
        <form action="{{path('outfit_update', {id: outfit.id})}}" method="POST">
            <div class="create-name">Type:<input class="input" type="text" name="outfit_type" value="{{outfit.type}}"></div>
            <div class="create-name">Color:<input class="input" type="text" name="outfit_color" value="{{outfit.color}}"></div>
            <div class="create-name">Size:<input class="input" type="text" name="outfit_size" value="{{outfit.size}}"></div>
            <div class="create-name">About:<textarea class="input" name="outfit_about">{{outfit.about}}</textarea></div>
            <select class="select" name="outfit_master_id">
            {% for master in masters %}
            <option value="{{master.id}}" {% if master.id == outfit.masterId %} selected {% endif %}>
            {{master.name}} {{master.surname}}</option>
            {% endfor %}
            </select>
            <div class="add-btn">
                <button class="add" type="submit">Edit Outfit</button>
            </div>
        </form>
    </div>
{% endblock %}
