{% extends 'base.html.twig' %}

{% block title %}Outfits List!{% endblock %}

{% block body %}
    <h1 class="title">Outfits in Library/h1>
    List:
    <ul>
    {% for outfit in outfits %}
        <li>
        {{outfit.type}} {{outfit.master.name}} {{outfit.master.surname}}
        <a href="{{ path('outfit_edit', {id: outfit.id}) }}">Edit</a>
        <form action="{{ path('outfit_delete', {id: outfit.id}) }}" method="POST">
        <button type="submit">DELETE</button>
        </form>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
