<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('css/layout.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/reset.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ asset ('/plugins/font-awesome-4.7.0/css/font-awesome.css') }}">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    {% if errors is defined and errors|length > 0 %}
    {% include 'errors/validation.html.twig' %}
    {% endif %}
    <div class="block">
        <div class="circle"></div>
        <div class="circle2"></div>
        <div class="container"> 
            <div class="menu">
                <a class="logo" href="#"><span class="name">Lara</span></a>
                <a class="logo" href="#"><span class="name2">Mados namai</span></a>
                <nav>
                <a href="http://localhost:8888/dashboard/mados_namai_lara/public/index.php/master">Masters</a>
                <a href="http://localhost:8888/dashboard/mados_namai_lara/public/index.php/master/create">Add master</a>
                <a href="http://localhost:8888/dashboard/mados_namai_lara/public/index.php/outfit">Outfits</a>
                <a href="http://localhost:8888/dashboard/mados_namai_lara/public/index.php/outfit/create">Add outfit</a>
                <a class="loggout" href="login/logout">Atsijungti</a>
                </nav>
            </div>
            <div class="container1">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
