{% extends 'base.html.twig' %}

{% block title %}Masters List!{% endblock %}

{% block body %}

    <h1>Masters in Library ✅</h1>

    List:
    <ul>
    {% for master in masters %}
        <li>
        {{master.name}} {{master.surname}}
        <a href="{{ path('master_edit', {id: master.id}) }}">Edit</a>
        <form action="{{ path('master_delete', {id: master.id}) }}" method="POST">
        <button type="submit">DELETE</button>
        </form>
            {% for outfit in master.outfits %}
                {{outfit.type}}<br>
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
